body
{

    background: #1e1f24;
    color: #333;
    text-align: left;
    font-family: Arial;
}
#cabecera
{
    background: url("../imagenes/dragon.png") no-repeat center center cover;
    box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin:  0;
    padding: 0.5em 0 0.5em 2em;

}

#cabecera #logo 
{
    width: 20px;
    vertical-align:middle
}

#cabecera #tagline 
{
    padding: 1em 0 0 0;
    font-weight: 400;
    font-size: 0.8em;
}

#container 
{
    width: 70%;
    padding: 0em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0;
}
#container h1
{
    font-size: 20px;
    

}
#post
{
    background: white;
    padding: 1em;
}